.search-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom,
        $black 0%,
        #{fade-out($black, 0.1)} 75%,
        #{fade-out($black, 0.2)} 100%);

    

    .container-fade {
        -webkit-mask: 
            linear-gradient(to left, transparent 1%, black 3%, black 97%, transparent 99%);
        mask:
            linear-gradient(to left, transparent 1%, black 3%, black 97%, transparent 99%);
    }

    .container-pad {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .container-rec {
        overflow-x: scroll;
        margin-right: 10px;
        margin-left: 10px;
    }

    .container-rec::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
        padding-top: 2px;
    }

    .container-rec::-webkit-scrollbar-thumb {
        background-color: rgba(116, 116, 116, 0.2);
      }
      
    .container-rec::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: transparent;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .container-rec::-webkit-scrollbar-button:horizontal:start:increment, 
    .container-rec::-webkit-scrollbar-button:horizontal:end:decrement {
        display: none;
    }

    .container-cards {
        padding-left: 35px;
    }

    .card-body {
        min-height: 550px;
        min-width: 400px;
        margin-right: 10px;
        margin-left: 4px;
        background: linear-gradient(to bottom,
                    black 40%,
                    #{fade-out(rgb(34, 34, 34), 0.1)} 75%,
                    #{fade-out(black, 0.2)} 100%);
        position: relative;
    }

    .card-title {
        font-size: 30px;
        font-weight: bold;
        padding-top: 10px;
        //white text
        //make sure padding is right
    }

    .card-artist {
        font-size: 30px;
        padding-top: 10px;
    }

    h1 {
        font-family: $font-family-special;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 2.5rem;
        letter-spacing: 0.2rem;
        background: linear-gradient(fade-out($white, 0), fade-out($white, .3));
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-decoration: underline #ffffff54
    }
    
    h2 {
        max-width: 50rem;
        font-size: 1.25rem;
    }

    p {
        font-family: $font-family-special;
        font-size: 1.3rem;
        line-height: 1.8rem;
        letter-spacing: 0.1rem;
        background: linear-gradient(fade-out($white, 0), fade-out($white, .7));
        -webkit-text-fill-color: transparent;
        background-clip: text;
        padding-bottom: 5px;
    }

    .results-text {
        font-size: 1rem;
        text-align: start;
        margin-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .on_bottom {
        position: absolute;
        bottom: 0;
        left:50%;
        margin-right: -50%;
        transform: translateX(-50%);
        width: 380px;
        height: 380px;
        padding-bottom: 10px;
    }

    .container-min-max {
        min-width: 40px;
        min-height: 40px;
    }

    .spacer-bot {
        padding-bottom: 15px;
    }
    
    .spacer-right{
        padding-right: 5px;
    }

    .openonclick {
        display: none;
    }

    .results-spacing {
        margin-left: 135px;
    }

    .card-results {
        outline: none;
    }
    
}