script.
    async function loadBB100() {

        var counter = 1;
        document.getElementById('bb100title').innerHTML = "Loading Billboard Top 100"

        fetch('https://bb100.azurewebsites.net/').then(
            resp => resp.json() // this returns a promise
        ).then(repos => {
            for (const repo of repos) {
                document.getElementById('CARD'+counter+'title').innerHTML = repo.name;
                document.getElementById('CARD'+counter+'artist').innerHTML = 'by ' + repo.artist;
                document.getElementById('CARD'+counter+'img').src = repo.album;
                if (counter == 10) {
                    document.getElementById('bb100title').innerHTML = "Billboard Top 100";
                }
                counter++;
            }
        }).catch(ex => {
            console.log(ex);
        })
    }