doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Mik's Music

        link(rel='icon', type='image/x-icon', href='/images/favicon.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.7.0.min.js')
        script(src="https://unpkg.com/rxjs@7.8.1/dist/bundles/rxjs.umd.js")

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='stylesheets/styles.css', rel='stylesheet')
        
        // Billboard Top 100 API
        include bb100script

    body#page-top(onload='loadBB100()')

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top') Home
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#bb100') Billboard Top 100
                        li.nav-item
                            a.nav-link(href='#recommendations') Song Recommendations
                        li.nav-item
                            a.nav-link(href='#aboutme') Information
                        li.nav-item
                            a.nav-link(href='#contact') Contact
                        li.nav-item
                            a.nav-link(href='https://github.com/itsnotmik') Github

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center
                    .text-center
                        h1.mx-auto.my-0.text-uppercase Mik's Music
                        h2.text-white-50.mx-auto.mt-2.mb-5 Music Discovery & Recommendations
                        a.btn.btn-secondary.spacer-right(href='#bb100') Billboard Top 100
                        a.btn.btn-secondary(href='#recommendations') Music Recommendations

        // BB100
        section#bb100.bb100-section.text-center
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h1.text-white.mb-4.spacer-bot#bb100title Billboard Top 100
                        h2.text-white-50.mx-auto.mt-2.mb-5 Check out the Top 10 songs from the Billboard Hot 100! <br>
                                                            | Please give the cards time to load, the website is running on Azure free tier!
            .container-fade
                .container-bb100
                    .container-fluid.py-2
                        .container-cards.flex-nowrap.flex-row.d-flex
                            .card.card-body#CARD1
                                h1.card-title#CARD1title Number 1 Song
                                p.card-artist#CARD1artist Artist1
                                img.img-fluid.on_bottom#CARD1img(src='', alt='...')
                            .card.card-body#CARD2
                                h1.card-title#CARD2title Number 2 Song
                                p.card-artist#CARD2artist Artist2
                                img.img-fluid.on_bottom#CARD2img(src='', alt='...')
                            .card.card-body#CARD3
                                h1.card-title#CARD3title Number 3 Song
                                p.card-artist#CARD3artist Artist3
                                img.img-fluid.on_bottom#CARD3img(src='', alt='...')
                            .card.card-body#CARD4
                                h1.card-title#CARD4title Number 4 Song
                                p.card-artist#CARD4artist Artist4
                                img.img-fluid.on_bottom#CARD4img(src='', alt='...')
                            .card.card-body#CARD5
                                h1.card-title#CARD5title Number 5 Song
                                p.card-artist#CARD5artist Artist5
                                img.img-fluid.on_bottom#CARD5img(src='', alt='...')
                            .card.card-body#CARD6
                                h1.card-title#CARD6title Number 6 Song
                                p.card-artist#CARD6artist Artist6
                                img.img-fluid.on_bottom#CARD6img(src='', alt='...')
                            .card.card-body#CARD7
                                h1.card-title#CARD7title Number 7 Song
                                p.card-artist#CARD7artist Artist7
                                img.img-fluid.on_bottom#CARD7img(src='', alt='...')
                            .card.card-body#CARD8
                                h1.card-title#CARD8title Number 8 Song
                                p.card-artist#CARD8artist Artist8
                                img.img-fluid.on_bottom#CARD8img(src='', alt='...')
                            .card.card-body#CARD9
                                h1.card-title#CARD9title Number 9 Song
                                p.card-artist#CARD9artist Artist9
                                img.img-fluid.on_bottom#CARD9img(src='', alt='...')
                            .card.card-body#CARD10
                                h1.card-title#CARD10title Number 10 Song
                                p.card-artist#CARD10artist Artist10
                                img.img-fluid.on_bottom#CARD10img(src='', alt='...')
                            .container-min-max

        //Recommendations
        section#recommendations.recommendations-section.text-center 
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h1.text-white.mb-4.spacer-bot#song_rec_text Song Recommendations
                        h2.text-white-50.mx-auto.mt-2.mb-5 Select a song from the dropdown to get recommendations! <br> Please give the dropdown time to load, 
                                                            | everything is running on Azure free tier!
                        p.text-white
                        .input-group.mb-3
                            .btn-group.spacer-right
                                button.btn.btn-secondary#testbtn(type='button' aria-expanded='false' onclick='keyPressCallback()')
                                    | Search
                            input.form-control#song-search-text(type='text' placeholder='Input Song Name..')
                        #results-card-container.card.results-spacing.openonclick
                        template(data-results='')
                            .results-text(data-id='') 
            .container-fade.openonclick#reccards
                .container-rec
                    .container-fluid.py-2
                        .container-cards.flex-nowrap.flex-row.d-flex
                            .card.card-body#recCARD1
                                h1.card-title#recCARD1title Number 1 Song
                                p.card-artist#recCARD1artist Artist1
                                img.img-fluid.on_bottom#recCARD1img(src='', alt='...')
                            .card.card-body#recCARD2
                                h1.card-title#recCARD2title Number 2 Song
                                p.card-artist#recCARD2artist Artist2
                                img.img-fluid.on_bottom#recCARD2img(src='', alt='...')
                            .card.card-body#recCARD3
                                h1.card-title#recCARD3title Number 3 Song
                                p.card-artist#recCARD3artist Artist3
                                img.img-fluid.on_bottom#recCARD3img(src='', alt='...')
                            .card.card-body#recCARD4
                                h1.card-title#recCARD4title Number 4 Song
                                p.card-artist#recCARD4artist Artist4
                                img.img-fluid.on_bottom#recCARD4img(src='', alt='...')
                            .card.card-body#recCARD5
                                h1.card-title#recCARD5title Number 5 Song
                                p.card-artist#recCARD5artist Artist5
                                img.img-fluid.on_bottom#recCARD5img(src='', alt='...')
                            .card.card-body#recCARD6
                                h1.card-title#recCARD6title Number 6 Song
                                p.card-artist#recCARD6artist Artist6
                                img.img-fluid.on_bottom#recCARD6img(src='', alt='...')
                            .card.card-body#recCARD7
                                h1.card-title#recCARD7title Number 7 Song
                                p.card-artist#recCARD7artist Artist7
                                img.img-fluid.on_bottom#recCARD7img(src='', alt='...')
                            .card.card-body#recCARD8
                                h1.card-title#recCARD8title Number 8 Song
                                p.card-artist#recCARD8artist Artist8
                                img.img-fluid.on_bottom#recCARD8img(src='', alt='...')
                            .card.card-body#recCARD9
                                h1.card-title#recCARD9title Number 9 Song
                                p.card-artist#recCARD9artist Artist9
                                img.img-fluid.on_bottom#recCARD9img(src='', alt='...')
                            .card.card-body#recCARD10
                                h1.card-title#recCARD10title Number 10 Song
                                p.card-artist#recCARD10artist Artist10
                                img.img-fluid.on_bottom#recCARD10img(src='', alt='...')
                            .container-min-max
            .container-min-max

        // search

        //need to make two search bars, have both inputs get grabbed by a new search function
        section#search.search-section.text-center
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h1.text-white.mb-4.spacer-bot#song_search_text Search for a Song
                        h2.text-white-50.mx-auto.mt-2.mb-5 Enter a song name and artist, then click Search! <br> Please give the dropdown time to load, 
                                                            | everything is running on Azure free tier!
                        p.text-white
                        .input-group.mb-3
                            .btn-group.spacer-right
                                button.btn.btn-secondary#testbtn(type='button' aria-expanded='false' onclick='searchByName()')
                                    | Search
                            input.form-control#name-search-text(type='text' placeholder='Input Song Name..')
                            input.form-control#artist-search-text(type='text' placeholder='Input Artist Name..')
            .container-fade.openonclick#searchcards
                .container-rec
                    .container-fluid.py-2
                        .container-cards.flex-nowrap.flex-row.d-flex
                            .card.card-body#searchCARD1
                                h1.card-title#searchCARD1title Number 1 Song
                                p.card-artist#searchCARD1artist Artist1
                                img.img-fluid.on_bottom#searchCARD1img(src='', alt='...')
                            .card.card-body#searchCARD2
                                h1.card-title#searchCARD2title Number 2 Song
                                p.card-artist#searchCARD2artist Artist2
                                img.img-fluid.on_bottom#searchCARD2img(src='', alt='...')
                            .card.card-body#searchCARD3
                                h1.card-title#searchCARD3title Number 3 Song
                                p.card-artist#searchCARD3artist Artist3
                                img.img-fluid.on_bottom#searchCARD3img(src='', alt='...')
                            .card.card-body#searchCARD4
                                h1.card-title#searchCARD4title Number 4 Song
                                p.card-artist#searchCARD4artist Artist4
                                img.img-fluid.on_bottom#searchCARD4img(src='', alt='...')
                            .card.card-body#searchCARD5
                                h1.card-title#searchCARD5title Number 5 Song
                                p.card-artist#searchCARD5artist Artist5
                                img.img-fluid.on_bottom#searchCARD5img(src='', alt='...')
                            .card.card-body#searchCARD6
                                h1.card-title#searchCARD6title Number 6 Song
                                p.card-artist#searchCARD6artist Artist6
                                img.img-fluid.on_bottom#searchCARD6img(src='', alt='...')
                            .card.card-body#searchCARD7
                                h1.card-title#searchCARD7title Number 7 Song
                                p.card-artist#searchCARD7artist Artist7
                                img.img-fluid.on_bottom#searchCARD7img(src='', alt='...')
                            .card.card-body#searchCARD8
                                h1.card-title#searchCARD8title Number 8 Song
                                p.card-artist#searchCARD8artist Artist8
                                img.img-fluid.on_bottom#searchCARD8img(src='', alt='...')
                            .card.card-body#searchCARD9
                                h1.card-title#searchCARD9title Number 9 Song
                                p.card-artist#searchCARD9artist Artist9
                                img.img-fluid.on_bottom#searchCARD9img(src='', alt='...')
                            .card.card-body#searchCARD10
                                h1.card-title#searchCARD10title Number 10 Song
                                p.card-artist#searchCARD10artist Artist10
                                img.img-fluid.on_bottom#searchCARD10img(src='', alt='...')
                            .container-min-max
            .container-min-max
            .container.px-4.px-lg-5
                img.img-fluid(src='images/iphone.png', alt='...')

        // About Me
        section#aboutme.aboutme-section.bg-light
            .container.px-4.px-lg-5
                // Project One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='images/demo-image-01.jpg', alt='...')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Thank you for visiting!
                                    p.mb-0.text-white-50
                                        | This was a fun passion project to work on in my free time! <br><br>
                                        | Please visit my personal portfolio available at the bottom of the page or at: itsnotmik.github.io
                // Project Two Row
                .row.gx-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='images/demo-image-02.jpg', alt='...')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Coding
                                    p.mb-0.text-white-50
                                        | The website is split into 4 different applications: <br> Node.js Website, Python Music Recommendation script,
                                        | Python Billboard Top 100 Scraper script, and a Python Database Query for the search bar!
                                        | <br><br>All code is available on my github, available in the navbar or at the bottom of the page!

        // filler space
        section#bottonspace.bottomspace-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-10.col-lg-8.mx-auto.text-center
                        

        // Contact
        section#contact.contact-section.bg-black
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fab.fa-github.text-primary.mb-2
                                h4.text-uppercase.m-0 Github
                                hr.my-4.mx-auto
                                .small.text-black-50 
                                    a(href='https://github.com/itsnotmik') github.com/itsnotmik
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='mailto:mclement.busi@gmail.com') mclement.busi@gmail.com
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-id-card.text-primary.mb-2
                                h4.text-uppercase.m-0 Portfolio
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='https://itsnotmik.github.io') itsnotmik.github.io
                .social.d-flex.justify-content-center
                    a.mx-2(href='https://github.com/itsnotmik')
                        i.fab.fa-github

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Copyright &copy; 2023

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='javascripts/scripts.js')
        include search
        include artistsearch